<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='perfil-usuario.component.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src='main.js'></script>
</head>

<body>
    <header>
        <app-header-layout> </app-header-layout>

    </header>
    <hr>
    <div>
        <div class="card center-block" id="bloque">
            <div class="card-body">

                <div class="row" >
                    <div class="col-md-2">
                        <img id="perfil"
                            src="{{userService.user2.foto}}"
                            alt="..." class="rounded-circle">
                    </div>
                    <div class="col-md-6 centro">
                        <h2 id="nombre"><b>{{userService.user2.nickname}}</b></h2>
                    </div>
                    <div class="col-md-4">
                        <button routerLink="/chat" id="contacta" (click)="nuevoChat()"><b>Contactar</b></button>
                    </div>
                </div>

                <h2 id="otros">Todos los productos de {{userService.user2.nickname}}</h2>
                <hr>
                <div class="card-columns center-block">
                    <div *ngFor="let pro of  this.productosVendedor; index as i ">
                        <div class="card card-custom">
                            <img class="card-img-top" src="{{pro.foto1}}" alt="Card image cap">
                            <div class="card-body" style="overflow-y: auto">
                                <div class="tituloanuncio">
                                    <div class="rating">
                                        <div>
                                            <div class="fa fa-star estrella" [ngClass]="pro.media == 1 || pro.media == 2 || pro.media == 3 || pro.media == 4 || pro.media == 5 ? 'selected' : 'estrella'">
                                            </div>
                                            <div class="fa fa-star estrella" [ngClass]="pro.media == 2 || pro.media == 3 || pro.media == 4 || pro.media == 5 ? 'selected' : 'estrella'">
                                            </div>
                                            <div class="fa fa-star estrella" [ngClass]="pro.media == 3 || pro.media == 4 || pro.media == 5 ? 'selected' : 'estrella'">
                                            </div>
                                            <div class="fa fa-star estrella" [ngClass]="pro.media == 4 || pro.media == 5 ? 'selected' : 'estrella'">
                                            </div>
                                            <div class="fa fa-star estrella" [ngClass]="pro.media == 5 ? 'selected' : 'estrella'">
                                            </div>
                                        </div> 
                                    </div>
                                    <h5 class="card-title">{{pro.name}}</h5>
                                </div>
                                <p class="card-text">{{pro.descripcion}}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted" id="precio">Precio : {{pro.precio}}</small>
                                <button (click)="detalleAnuncio(pro.product_id)" id="interesa"><svg width="5px" height="30px"
                                        viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                    </svg><b> Me interesa</b></button>
    
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>

        </div>
    </div>

</body>

</html>