#cerrar
{
  width: 10%;
  margin-left: 92%;
}

#perfil
{
  margin-top: 2.5%;
  margin-left: 7%;
  width: 150px;
  height: 150px;
}
#nombre
{
  margin-left: 4%;
  color: #334257;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline;

}
#bloque
{
  width: 120rem;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.3);
}

.card-custom {
  overflow: hidden;
  min-height: 460px;
  max-height: 460px;
  
}
#estrella1
{
  width: 3%;
  margin-left: 15%;
}
#estrella2
{
  width: 3%;
  
}
#estrella3
{
  width: 3%;
  
}
#estrella4
{
  width: 3%;
  
}
#estrella5
{
  width: 3%;
  
}
#part_prof
{
  display: inline;
  margin-left: 10%;
}
#contacta
{
    background-color: #334257;
    color: #fffe91;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    height: 6rem;
    width: 15rem;
    font-size: 150%;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    margin-left: 30%;
    margin-top: 1em;
}
#otros
{
    margin-top: 15%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #334257;
    width: 100%;
}
#carousel-example-2
{
    max-height: 50rem;
}
.carousel-inner
{
    max-height: 50rem;
}

.card-img-top {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  .descripcion
  {
      font-size: large;
      text-transform: clip;
  }
.page-header
{
    margin-top: 2rem;
    height: 8rem; 
    text-align: center;
}
.herramienta
{
    margin-left: 1rem;
    margin-top : 1rem;
    color:#334257;
}
.card-body
{
    color: #334257;
    
}
.card-title
{
    font: bold;
    font-size: 15px;
}
.card-text
{
    min-height: 150px;
    max-height:150px;
    font-size: 12px;
    overflow: hidden;}
#interesa
{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 2.5rem;
    width: 10rem;
    font-size: 10px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    float : right;
 }
.controles
{
    
    margin-bottom: 4rem;
}

.next
{
    float: right;
    font-size: larger;
    color: #334257;
    margin-bottom: 4rem;
}
.previous
{
    float: left;
    font-size: larger;
    color: #334257;
}
.centro
{margin-top: auto;}

#precio
{
    font-size: 12px;
}
header
{
    background-color: #fffe91;
    height: 230px;
}

#logo
{
    width: 480px;
    height: 160px;
    margin-top: 30px;
}
#buscador_principal
{
    width: 500px;
    height: 40px;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 20px;
    border-color: #334257;
    padding-left: 20px;
    border: none;  
}
#buscar
{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 40px;
    width: 150px;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    margin-left: 20px;
}
#login
{
    color: #334257;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    margin-right: 100px;

}
#subir_principal
{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 40px;
    width: 200px;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    margin-left: 290px;
}
.estrella {
  display: inline-block;
  font-size: 16px;
}
.selected {
font-size: 16px;
padding: 0 1px;
cursor: pointer;
color: #FFD119;
text-decoration: none; }
