
footer{
    width: 100%;
    height: 120px;
    background-color: rgb(192, 192, 192);
    color: black;
    position: relative;
    bottom: 0px;
    text-align: justify;
    display: grid;
    border-top: solid 1px black;
}
footer a {
    text-decoration: none;
    color: blue;
}
.linkedin{
    display: grid;
}
.agradecimientos{
    float: right;
}