<body>
  

<footer class="page-footer font-small blue pull-buttom pt-4">    
    <div class="container-fluid text-center text-md-left">      
      <div class="row">        
        <div class="col-md-6 mt-md-0 mt-3">        
          <h5 class="text-uppercase">Lo(alki)Lo</h5>
          <p>Lo(alki)Lo es un proyecto final para el Bootcamp <br> Codenotch que busca acercar a las personas <br> para que puedan alquilar aquello que no usan.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">El equipo</h5>  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Ali 1</a>
            </li>
            <li>
              <a href="#!">Mauro 2</a>
            </li>
            <li>
              <a href="#!">Mikel 3</a>
            </li>
          </ul>
        </div>
        <div class="agradecimientos">

            <div class="col-3 col-sm-3">
                <div class="footer-copyright py-3">© 2020 Copyright:
                <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
                </div>
            </div>
        </div>
      </div>
    </div>
</footer>
</body>
