main
{
    min-height: 700px;
}
#interesa
{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 3rem;
    width: 10rem;
    font-size: 12px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    float: right;
 }
#precio
{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #334257;
    margin-top: 20%;
}
#nombre
{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #334257;
    
}
.card
{
    min-height: 30rem;
    min-width: 30rem;
    max-width: 25rem;
    max-height: 50rem;
}
.card-footer{
    height: 50px;
  }
.card-body
{
    color: #334257;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#descripcion
{
    font-size: 13px;
}
#corazon
{
  font-size: 25px;
  color:red;
  margin-left: 5%;

}
