body{
    margin: 0;
    padding: 0;
}
.menuL{
    margin-bottom: 10px;
}
main{
    height: 775px;
    width: 100%;
    background-color: rgb(232, 231, 231);
    margin: auto;
    margin-bottom: 1px;
    float: right;
}
article{
    height: 700px;
    width: 50%;
    float: right;
    margin-right: 20%;
    background-color: rgb(182, 182, 182);
    border: solid 0.5px black;
}
