body{
    margin: 0;
    padding: 0;
}
.menuL{
    margin-bottom: 10px;
}
main{
    height: 775px;
    width: 100%;
    background-color: rgb(232, 231, 231);
    margin: auto;
    margin-bottom: 1px;
    float: right;
}
article{
    height: 700px;
    width: 50%;
    float: right;
    margin-right: 20%;
    background-color: rgb(255, 255, 255);
/*    border: solid 0.5px black; */
}
/* Valoraciones 
*/
.estrella {
  display: inline-block; 
  font-size: 16px;

}
.selected {
font-size: 16px;
padding: 0 1px;
cursor: pointer;
color: #FFD119;
text-decoration: none; }