header
{
    background-color: #fffe91;
    height: 230px;
}

#logo
{
    width: 480px;
    height: 160px;
    margin-top: 30px;
}
#buscador_principal
{
    width: 500px;
    height: 40px;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 20px;
    border-color: #334257;
    padding-left: 20px;
    border: none;  
}
#buscar
{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 40px;
    width: 150px;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    margin-left: 20px;
}
#login
{
    color: #334257;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    margin-right: 100px;

}
#subir_principal
{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 40px;
    width: 200px;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    margin-left: 290px;
}
