<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='buscador.component.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <app-header-layout></app-header-layout>
    </header>
    <body>
      <div id="header">
        <ul class="nav">
          <li><a id="laterali"><b>&nbsp;</b></a></li>
          <li><a><b>CATEGORÍA</b></a>
            <ul>
              <li><a>Motor&nbsp;</a>
                <ul>
                  <li><a>Coches</a></li>
                  <li><a>Motos</a></li>
                  <li><a>Furgonetas</a></li>
                  <li><a>Autocaravanas</a></li>
                  <li><a>Vehículos especiales</a></li>
                  <li><a>Quads</a></li>
                  <li><a>Otros</a></li>
                </ul>
              </li>
              <li><a>Inmobiliaria</a>
                <ul>
                  <li><a>Pisos</a></li>
                  <li><a>Casas</a></li>
                  <li><a>Locales</a></li>
                  <li><a>Oficinas</a></li>
                  <li><a>Parkings</a></li>
                  <li><a>Espacios exteriores</a></li>
                  <li><a>Otros</a></li>
                </ul>
              </li>
              <li><a>Informática/Electrónica</a>
                <ul>
                  <li><a>Ordenadores</a></li>
                  <li><a>Impresoras</a></li>
                  <li><a >Vídeoconsolas</a></li>
                  <li><a>Cámaras</a></li>
                  <li><a >Proyectores</a></li>
                  <li><a >Otros</a></li>
                </ul>
              </li>
              <li><a >Hogar y jardín</a>
                <ul>
                  <li><a >Electrodomésticos</a></li>
                  <li><a >Herramientas</a></li>
                  <li><a >Mobiliario</a></li>
                  <li><a >Piscinas y accesorios</a></li>
                  <li><a >Jardinería</a></li>
                  <li><a >Otros</a></li>
                </ul>
              </li>
              <li><a >Moda/Complementos</a>
                <ul>
                  <li><a >Trajes de fiesta</a></li>
                  <li><a >Bolsos y maletas</a></li>
                  <li><a >Joyas y relojes</a></li>
                  <li><a >Sombreros</a></li>
                  <li><a >Ropa especializada</a></li>
                  <li><a >Otros</a></li>
                </ul>
              </li>
              <li><a >Deportes/Ocio</a>
                <ul>
                  <li><a >Máquinas</a></li>
                  <li><a >Deportes acuáticos</a></li>
                  <li><a >Deportes de montaña</a></li>
                  <li><a >Accesorios deportivos</a></li>
                  <li><a >Estructuras de exterior</a></li>
                  <li><a >Otros</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a ><b>PRECIO </b></a>
              <ul>
                <li><a >Menos de 10€ </a></li>
                <li><a >De 10€-20€</a></li>
                <li><a >De 20€-30€</a></li>
                <li><a >De 30€-40€</a></li>
                <li><a >De 40€-50€</a></li>
                <li><a >De 50€-60€</a></li>
                <li><a >De 60€-80€</a></li>
                <li><a >De 80€-100€</a></li>
                <li><a >De 100€-125€</a></li>
                <li><a >De 125€-150€</a></li>
                <li><a >Más de 150€</a></li>
              </ul>
          </li>
          <li><a ><b>FOTO</b></a>
            <ul>
              <li><a >Ver todos los anuncios</a></li>
              <li><a >Ver sólo anuncios con foto</a></li>
            </ul>
        </li>
      </ul>
    </div>
    <div class="container ">
      <div class="row ">
        <div class="col-md-2 col-4 ">
        </div>
        <div class="col-md-2 col-4 ">
        </div>
        <div class="col-md-2 col-4">
        </div>     
        <div class="col-md-2 col-4 ">
        </div>
        <div class="col-md-2 col-4">
        </div>
      </div>
    <div class="row">
      <div class="col-12">
        <h2 class="marco_sup"></h2>
      </div>

      <div class="row">
        

        <div class="card-columns center-block">
            <div *ngFor="let pro of productsService.products ; index as i ">
                <div class="card card-custom">
                    <img class="card-img-top" src="{{pro.foto1}}" alt="Card image cap">
                    <div class="card-body" style="overflow-y: auto">
                        <div class="tituloanuncio">
                            <a class="valoracion">★★★★★</a>
                            <h5 class="card-title">{{pro.name}}</h5>
                        </div>
                        <p class="card-text">{{pro.descripcion}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" id="precio">Precio : {{pro.precio}} &nbsp;€</small>
                        <button (click)="detalleAnuncio(pro.product_id)" id="interesa"><svg width="5px"
                                height="30px" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                            </svg><b> Me interesa</b></button>

                    </div>
                </div>
            </div>
        </div>

    </div>
 <!-- /.row -->
  <div class="controles">
      <ul class="pager">
          <li class="previous"><a href="#">&larr; Anterior</a></li>
          <li class="next"><a href="#">Siguiente &rarr;</a></li>
      </ul>
  </div>
  </div>

<app-footer></app-footer>
    
    
    





    


    
