*{
	margin: 0px;
	padding: 0px;
}
#header 
{	
	font-family:Arial, Helvetica, sans-serif;
}
#laterald
{
	width: 400em;
}

ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
	width: 125px;
}

.nav li a {
	background-color:#334257;
	color:#fffe91;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	font-size: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: 200%;
}

.nav li a:hover {
	background-color:#fffe91;
	color: #334257;
}

.nav li ul {
	display:none;
	position: absolute;
	width:160px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-256px;
	top:0px;
}