
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='anuncio.component.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
  <div class="modal-dialog modal-lg">
    <div class="card" style="width: 40rem; border-color: #334257">
      <div class="card-body">
        <div>
          <svg id="cerrar" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="foto1" src="https://canary.contestimg.wish.com/api/webimage/5cf4b9261d8cd85074e385c7-2-large.jpg" class="d-block w-80" alt="foto1">
          </div>
          <div class="carousel-item">
            <img id="foto2" src="https://canary.contestimg.wish.com/api/webimage/5cf4b9261d8cd85074e385c7-3-large.jpg" class="d-block w-100" alt="foto2">
          </div>
          <div class="carousel-item">
            <img id="foto3" src="https://canary.contestimg.wish.com/api/webimage/5cf4b9261d8cd85074e385c7-9-large.jpg" class="d-block w-100" alt="foto3">
          </div>
          <div class="carousel-item">
            <img id="foto4" src="https://canary.contestimg.wish.com/api/webimage/5cf4b9261d8cd85074e385c7-4-large.jpg" class="d-block w-100" alt="foto3">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cámara fotos Profesional  
          <img id="corazon" src="C:\Users\Usuario\Desktop\proyecto_final\Lo-alki-lo\src\app\pages\home\anuncio\corazon.png">
          <!-- <img id="cor_rojo" src="C:\Users\Usuario\Desktop\proyecto_final\Lo-alki-lo\src\app\pages\home\anuncio\corazon (1).png">--></h5>
       <p class="card-text">Cámara digital HD de 2019. Modelo Protax D3000 Auto Focus con cámara de vídeo SLR profesional de 33 millones de píxeles. Cámara de tres lentes. Cuerda de zoom óptico 24X.<br> Incluye varios accesorios: dos objetivos diferentes, trípode, funda de transporte y dos baterías.<br> No incluye tarjetas de memoria.    </p>
        <div>
          <button id="alkilar" >Me interesa</button>
          <p id="precio"><b>15 €/día</b></p>
        </div>
      </div>
        <div>
          <img id="perfil" src="https://www.dzoom.org.es/wp-content/uploads/2020/02/portada-foto-perfil-redes-sociales-consejos.jpg" alt="..." class="rounded-circle">
          <h5 id="nombre">Elena González
          <img id="estrella1" src="C:\Users\Usuario\Desktop\proyecto_final\Lo-alki-lo\src\app\pages\home\anuncio\estrella.png">
          <img  id="estrella2" src="C:\Users\Usuario\Desktop\proyecto_final\Lo-alki-lo\src\app\pages\home\anuncio\estrella.png">
          <img id="estrella3" src="C:\Users\Usuario\Desktop\proyecto_final\Lo-alki-lo\src\app\pages\home\anuncio\estrella.png">
          <img id="estrella4" src="C:\Users\Usuario\Desktop\proyecto_final\Lo-alki-lo\src\app\pages\home\anuncio\estrella.png">
          <img id="estrella5" src="C:\Users\Usuario\Desktop\proyecto_final\Lo-alki-lo\src\app\pages\home\anuncio\estrella.png">
        </h5>
        </div>

        </div>
      </div>
    </div>
    
</body>
</html>