body
{
    background-image: url(/assets/fondo.jpg)
}
#logo
{
    margin-left: 5%;
}
#enviar
{
    background-color: #334257;
    color: #fffe91;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    height: 3em;
    width: 18em;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;   
    margin-left: 26%;
    margin-top: 2%;
    margin-bottom: 2%;

}
#usuario
{
    width: 15%;
    margin-top: 1%;
    height: 2.5em;
    font-size: 15px;
    border: solid;
    padding-left: 1%;
    margin-left: 25%;
    border-radius: 60px;
}
#email
{
    width: 15%;
    margin-top: 1%;
    height: 2.5em;
    font-size: 15px;
    border: solid;
    padding-left: 1%;
    margin-left: 25%;
    border-radius: 60px;
}
#contraseña
{
    width: 15%;
    margin-top: 1%;
    height: 2.5em;
    font-size: 15px;
    border: solid;
    padding-left: 1%;
    margin-left: 25%;
    border-radius: 60px;
}
#conf_contraseña
{
    width: 15%;
    margin-top: 1%;
    height: 2.5em;
    font-size: 15px;
    border: solid;
    padding-left: 1%;
    margin-left: 25%;
    border-radius: 60px;
}
#particular
{
    font-size: 15px;
}
#foto_perfil
{
    margin-left: 25%;
    font-size: 18px;
    margin-top: 2%;
    color: #334257;
    background-color:#fffe91; 
}
#foto
{
    width: 25em;
    margin-left: 25%;
    margin-top: 1%;
    font-size: 15px;
    background-color: #fffe91;

}
#margen
{
    margin-top: 50%;
}
#registro
{
    font-size: 15px;
    color: #334257;
    margin-left: 29%;
    background-color: #fffe91;
    width: 10%;
    
}


