body{
    margin: 0;
    padding: 0;
}
.menuL{
    margin-bottom: 10px;
}
main{
    min-height: 800px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 1px;
    float: right;
}
article{

    width: 50%;
    float: right;
    margin-right: 20%;
    background-color: rgb(255, 255, 255);

}
.contenedor{
    height: 100%;
    padding: 10px;
    background-color: white;
    border: solid 0.5px rgb(223, 223, 223);
    border-radius: 15px;
}
.contenedor input{
    margin-bottom: 30px;
    height: 35px;
}
.contenedor select{
    height: 35px;
}
.contenedor label{
    font-size: 15px;
    color: #334257;
}
.subiFoto{
    height: 50px;
    width: 100%;
}
#foto1{
    float: left;
}
#foto_1{
    float: right;
    margin-right: 60%;
}
#gridCheck{
    position: relative;
}
#checkLabel{
    position: relative;
    bottom: 11px;
    margin-left: 5px;
}
.btn{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 40px;
    width: 200px;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    float: right;
    position: relative;
    bottom: 80px;
}

::placeholder {
    color: black;
    font-size: 15px;
}

#perfil
{
  text-align: center;
  width: 150px;
  height: 150px;
}
