<body>

    <header>
    <app-header-layout></app-header-layout>
    </header>
    
        <main>
        <aside class="menuL">
            <app-sidebar></app-sidebar>
        </aside>
        <article>
            <div class="contenedor">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Apellidos</label>
                            <input type="text" class="form-control" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                            <label >Nickname</label>
                            <input type="text" class="form-control" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="inputAddress">Dirección</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                    <label for="inputAddress2">Dirección 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Ciudad</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Comunidad</label>
                        <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">CP</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    </div>
                    <div class="subiFoto">                    
                        <div>
                            <label id="foto1" for="formGroupExampleInput2" class="form-label"><b>Foto Perfil:</b></label>
                        </div>
                        <div>
                            <input id="foto_1" type="file">
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck" id="checkLabel"> Check</label>
                    </div>
                    </div>
                    <button type="submit" class="btn">Modificar</button>
                </form>
            </div>
        </article>
        
    
        </main>
        <div class="separador"></div>
        <hr>
        <footer>
            <app-footer></app-footer>
        </footer>
    </body>