<body>

    <header>
    <app-header-layout></app-header-layout>
    </header>
    
        <main>
        <aside class="menuL">
            <app-sidebar></app-sidebar>
        </aside>
        <article>
            <div class="contenedor">
                <button id="misProductos" (click)="mostrarMisProductos()">Mis Productos</button>
                <button id="alquilados" (click)="mostrarOtrosProductos()">Productos Alquilados</button>
                <hr>
            </div>
            <div class="tarjetas" [hidden]="isHidden">
                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos </h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button routerLink="/subirproducto" id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b>Modificar</b></button>


                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos 2</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button routerLink="/subirproducto" id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b>Modificar</b></button>


                        </div>
                    </div>
                </div>

                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos 3</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button routerLink="/subirproducto" id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b>Modificar</b></button>


                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos 4</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button routerLink="/subirproducto" id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b>Modificar</b></button>


                        </div>
                    </div>
                </div>
            </div>
            <div class="tarjetas" [hidden]="isHidden2">
                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos </h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b> LO(alki)LO</b></button>


                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos 2</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b>LO(alki)LO</b></button>


                        </div>
                    </div>
                </div>

                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos 3</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b>LO(alki)LO</b></button>


                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <img class="card-img-top" src="/assets/ps5.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Camara fotos 4</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">

                            <small class="text-muted" id="precio">Precio</small>
                            <button id="interesa"><svg width="5px" height="30px" viewBox="0 0 16 16" class="bi bi-plus"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                </svg><b>LO(alki)LO</b></button>


                        </div>
                    </div>
                </div>
            </div>
        </article>
        
    
        </main>
        <div class="separador"></div>
        <hr>
        <footer>
            <app-footer></app-footer>
        </footer>
    </body>