body
{
    background-image: url(/assets/fondo.jpg);
}
#logo
{
    margin-left: 10%;
}
#login
{
    background-color: #334257;
    color: #fffe91;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    height: 7%;
    width: 10%;
    font-size: 18px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;   
    margin-left: 21%;
    margin-top: 2%;
}

#margen
{
    margin-top: 30%;
}
#usuario
{
    width: 15%;
    margin-top: 1%;
    height: 2.5em;
    font-size: 15px;
    border: solid;
    padding-left: 1%;
    margin-left: 19%;
    border-radius: 60px;
}
#contraseña
{
    width: 15%;
    margin-top: 1%;
    height: 2.5em;
    font-size: 15px;
    border: solid;
    padding-left: 1%;
    margin-left: 19%;
    border-radius: 60px;
}
#logouser
{
    margin-right: 2%;
}
#logocon
{
    margin-right: 2%;
}
#registro
{
    width: 20%;
    margin-left: 48%;
    margin-top: 7%;
}
