#cerrar
{
    margin-left: 95%;
    margin-top: 2.5%;
    color: #334257;
}
#logo
{
    margin-left: 25%;
    width: 50%;
}

.modal-dialog{
    height: 100%;
    margin-top: 0%;
}
#usuario
{
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    
}
#nombre
{
    margin-left: 17%;
    margin-top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#descripcion
{
    margin-left: 17%;
    margin-top: 2.5%;
}
.contenedor{
    height: 100%;
    width: 80%;
    padding: 0px;
    margin-left: 15%;
}
.contenedor input{
    margin-bottom: 10px;
    height: 35px;
}
.contenedor select{
    height: 35px;
}
.contenedor label{
    font-size: 15px;
    color: #334257;
    text-align: left;
}

#descripcion_input
{
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}
#foto1
{
    margin-left: 15%;
}
#foto2
{
    margin-left: 15%;
    margin-top: 2%;
}
#foto3
{
    margin-left: 15%;
    margin-top: 2%;
}
#foto4
{
    margin-left: 15%;
    margin-top: 2%;
}
#foto_1
{
    width: 25em;
    margin-left: 15%;
}
#foto_2
{
    width: 25em;
    margin-left: 15%;
    
}
#foto_3
{
    width: 25em;
    margin-left: 15%;
   
}
#foto_4
{
    width: 25em;
    margin-left: 15%;
    
}
#registrado
{
    text-align: center;
    margin-bottom: 10%;
}
/*
*/
.subirFotos{
    margin-top: 0%;
    margin: 10%;
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 0fr 0fr; 
}
.card{
    border: 1px solid rgb(232, 232, 232);
    border-radius: 15px;
}
main{
    height: 775px;
    width: 100%;
    margin: auto;
    margin-bottom: 1px;
    float: right;
}

.btn{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 40px;
    width: 200px;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.btnSubir{
    background-color: #334257;
    color: #fffe91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    height: 40px;
    width: 200px;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #334257;
   -moz-box-shadow: 0px 1px 3px #334257;
    box-shadow: 0px 1px 3px #334257;
    text-shadow: 1px 1px 3px #334257;
    border: dotted #334257 2px;
    position: relative;
    bottom: -50px;
}
